<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-4">
            <div class="input-group mt-3 buscar">
                <input type="text" class="form-control" placeholder="Código" aria-label="Recipient's username"
                    aria-describedby="button-addon2" #CodigoBuscado>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="search_by_code(CodigoBuscado.value)">Buscar</button>
                </div>
            </div>
        </div>
        <div class="col-8">
            <form [formGroup]="queryForm" (ngSubmit)="search()">
                <mat-form-field class="mr-5">
                    <mat-label>Estado <mat-icon matTooltip='Situación actual del problema  &#13; Pendiente: Problema aún por solucionar.  &#13; Completado: Problema solucionado.' matTooltipClass="custom-tooltip multiline-tooltip" aria-hidden="false" aria-label="Example home icon">help</mat-icon>
                    </mat-label>
                    <mat-select formControlName="Estado">
                      <mat-option *ngFor="let estado of estados" [value]="estado">
                        {{estado}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                <mat-form-field class="mr-5">
                    <mat-label>Sistema <mat-icon matTooltip="Sistema donde se identifica el problema."
                            matTooltipClass="custom-tooltip" aria-hidden="false" aria-label="Example home icon">help
                        </mat-icon>
                    </mat-label>
                    <mat-select formControlName="Sistema" >
                        <mat-option *ngFor="let sistema of sistemas" [value]="sistema">
                            {{sistema}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="mr-5">
                    <mat-label>Impacto en usuarios <mat-icon
                            matTooltip='Efecto del problema sobre los usuarios. &#13; Alto: Usuarios deben ser reubicados temporalmente. &#13; Medio: Suspensión temporal de servicios (agua,luz,HVAC). &#13; Bajo: Molestia temporal a los usuarios'
                            matTooltipClass="custom-tooltip multiline-tooltip" aria-hidden="false"
                            aria-label="Example home icon">help</mat-icon>
                    </mat-label>
                    <mat-select formControlName="ImpactoEnUsuarios" >
                        <mat-option *ngFor="let nivel of niveles" [value]="nivel">
                            {{nivel}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="mr-5">
                    <mat-label>Severidad <mat-icon
                            matTooltip='Alta: Demolición,reinstalación o reconstrucción &#13; Media: Remodelación o retrabajo &#13; Baja: Reparación'
                            matTooltipClass="custom-tooltip multiline-tooltip" aria-hidden="false"
                            aria-label="Example home icon">help</mat-icon>
                    </mat-label>
                    <mat-select formControlName="Severidad" >
                        <mat-option *ngFor="let nivel of niveles" [value]="nivel">
                            {{nivel}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="mr-5">
                  <mat-label>Costo mayor a</mat-label>
                  <input matInput type="number" formControlName="CostoMayor">
              </mat-form-field>
                <mat-form-field class="mr-5">
                    <mat-label>Costo menor a</mat-label>
                    <input matInput type="number" formControlName="CostoMenor">
                </mat-form-field>
                <mat-form-field class="mr-5">
                    <mat-label>Tipo de moneda</mat-label>
                    <mat-select formControlName="TipoMoneda" >
                      <mat-option *ngFor="let moneda of monedas" [value]="moneda">
                        {{moneda}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
               
                  <button mat-button type="submit" [disabled]="!queryForm.valid">Buscar</button>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid mt-5">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Estado</th>
            <th scope="col">Sistema</th>
            <th scope="col">Descripción</th>
            <th scope="col">Causa</th>
            <th scope="col">Consecuencia</th>
            <th scope="col">Costo</th>
            <th scope="col">Moneda</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let con of CON">
            <th scope="row">{{con['Codigo']}}</th>
            <td>{{con['Estado']}}</td>
            <td>{{con['Sistema']}}</td>
            <td>{{con['DescripcionDelProblema']}}</td>
            <td>{{con['Causa']}}</td>
            <td>{{con['Consecuencia']}}</td>
            <td>{{con['Costo']}}</td>
            <td>{{con['TipoMoneda']}}</td>
          </tr>
          <tr *ngFor="let dis of DIS">
            <th scope="row" >{{dis['Codigo']}}</th>
            <td>{{dis['Estado']}}</td>
            <td>{{dis['Sistema']}}</td>
            <td>{{dis['DescripcionDelProblema']}}</td>
            <td>{{dis['Causa']}}</td>
            <td>{{dis['Consecuencia']}}</td>
            <td>{{dis['Costo']}}</td>
            <td>{{dis['TipoMoneda']}}</td>
          </tr>
          <tr *ngFor="let oym of OyM">
            <th scope="row" >{{oym['Codigo']}}</th>
            <td>{{oym['Estado']}}</td>
            <td>{{oym['Sistema']}}</td>
            <td>{{oym['DescripcionDelProblema']}}</td>
            <td>{{oym['Causa']}}</td>
            <td>{{oym['Consecuencia']}}</td>
            <td>{{oym['Costo']}}</td>
            <td>{{oym['TipoMoneda']}}</td>
          </tr>
        </tbody>
      </table>
</div>