<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Generalidades</ng-template>
            <mat-form-field class="mr-5">
                <mat-label>Origen del problema</mat-label>
                <input matInput formControlName="firstCtrl" required>
            </mat-form-field>
            <mat-form-field class="mr-5">
                <mat-label>Sistema</mat-label>
                <input matInput placeholder="Apellido" required>
            </mat-form-field>
            <mat-form-field class="mr-5">
                <mat-label>Ubicación</mat-label>
                <input matInput placeholder="Last name, First name" required>
            </mat-form-field>
            <mat-form-field class="mr-5">
                <mat-label>Componente</mat-label>
                <input matInput placeholder="Last name, First name" required>
            </mat-form-field>
            <mat-form-field class="mr-5">
                <mat-label>Marca del componente</mat-label>
                <input matInput placeholder="Last name, First name" required>
            </mat-form-field>
            <mat-form-field class="mr-5">
                <mat-label>Proveedor del componente</mat-label>
                <input matInput placeholder="Last name, First name" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Detalle">
        <form [formGroup]="secondFormGroup">
            <mat-form-field class="mr-5">
                <mat-label>Causa</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
            </mat-form-field>
            <mat-form-field class="mr-5">
                <mat-label>Consecuencia</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
            </mat-form-field>
            <mat-form-field class="mr-5">
                <mat-label>Efecto</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
            </mat-form-field>
            <mat-form-field class="mr-5">
                <mat-label>Severidad</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
            </mat-form-field>
            <mat-form-field class="mr-5">
                <mat-label>Impacto en usuarios</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
            </mat-form-field>
            <mat-form-field class="mr-5">
                <mat-label>Solución</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
            </mat-form-field>
            <mat-form-field class="mr-5">
                <mat-label>Responsable</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
            </mat-form-field>
            <mat-form-field class="mr-5">
                <mat-label>Costo</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
            </mat-form-field>
            <mat-form-field class="mr-5">
                <mat-label>Tiempo</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" label="Lección aprendida">
        <form [formGroup]="thirdFormGroup">
            <mat-form-field class="mr-5">
                <mat-label>Tipo de lección aprendida</mat-label>
                <input matInput formControlName="thirdCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
            </mat-form-field>
            <mat-form-field class="mr-5">
                <mat-label>Descripción</mat-label>

                <textarea matInput formControlName="thirdCtrl" placeholder="Ex. It makes me feel..."
                    required></textarea>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>