<div class="container-fluid ">
    <div class="row">
        <div class="col">
            <div class="card text-white bg-success mb-3 text-center mx-auto d-block" style="max-width: 18rem;">
                <div class="card-header">Solucionados</div>
                <div class="card-body">
                    <h2 class="card-title">80%</h2>
                    <p class="card-text">Actualizado a la fecha</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-danger mb-3 text-center mx-auto d-block" style="max-width: 18rem;">
                <div class="card-header">Pendientes</div>
                <div class="card-body">
                    <h2 class="card-title">20%</h2>
                    <p class="card-text">Actualizado a la fecha</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <google-chart #chart
   [title]="title"
   [type]="type"
   [data]="data"
   [columns]="columnNames"
   [options]="options"
   [width]="width"
   [height]="height"
   >
</google-chart>
</div>